{% extends 'base.html.twig' %}

{% form_theme formNewFigure 'bootstrap_5_layout.html.twig' %}

{% block body %}

    {% if formEditFigure %}
        <h1>Edition d'une figure !</h1>
    {% else %}
        <h1>Création d'une figure !</h1>
    {% endif %}

    {{ form_start(formNewFigure) }}

    {{ form_row(formNewFigure.nom, {'attr':{'placeholder': "nom de la figure"}}) }}
    {{ form_row(formNewFigure.groupe) }}
    {{ form_row(formNewFigure.description, {'attr':{'placeholder': "description de la figure"}}) }}
    {{ form_row(formNewFigure.images) }}

    {# Affichage des images lors de la modification #}
    {% if formEditFigure %}
        <h3>Images</h3>
        {% for image in figure.images %}
            <div>
                {{image.id}}
                <img src="{{ asset('/uploads/'~image.nom) }}" alt="" width="150">
                {# On ajoute un lien permettant de supprimer une image)#}
                <a href="{{ path('app_figure_image_delete', {'id': image.id}) }}" >Supprimer</a>
            </div>
        {% endfor %}
    {% endif %}

    <button type="submit" class="btn btn-success">
        {% if formEditFigure %}
            Enregistrer les modifications
        {% else %}
            Créer nouvelle figure
        {% endif %}
    </button>

    {{ form_end(formNewFigure) }}

{% endblock %}