{% extends 'base.html.twig' %}

{% form_theme formNewFigure 'bootstrap_5_layout.html.twig' %}

{% block body %}

{{ form_start(formNewFigure) }}

    <div class="contnainer-fuid d-flex justify-content-end mt-3">
        {# <a href="{{ path('app_figure_change_front_img', {'id':figure.id}) }}" class="btn btn-success mr-2"><i class="bi bi-pencil-fill"></i></a> #}
        {% include "_partials/_figureDeleteForm.html.twig" %}
    </div>

    <section class="container mt-2">

        <div class="container d-flex flex-column align-items-center">
            {% if figure.images  is empty %}
                <img class="" src="{{ asset('/uploads/default.jpg') }}" alt="Main figure img" style="width:100%;">
            {% else %}
                <h2>{{ form_row(formNewFigure.nom, {'label':'Nom de la figure', 'attr':{'placeholder': figure.nom}}) }}</h2>
                <img class="" src="{{ asset('/uploads/'~ figure.images[0].nom) }}" alt="Main figure img" style="width:100%;">
            {% endif %}
        </div>

        <button class="btn btn-success d-block d-md-none mt-2 self-align-center" data-toggle="collapse" data-target="#collapsMedia">Voir les Média</button>

        {# Collapsible content #}
        <div class="collapse d-md-none" id="collapsMedia">
            <div id="figure_media" class="d-inline-flex flex-column align-top ustify-content-around">
                {% if figure.images  is empty %}
                    <div class="alert alert-light">
                        <h5>Il n'y a pas d'images associé à la figure</h5>
                    </div>
                {% else %}
                    {% for image in figure.images %}
                        <div class="container mt-2 justify-content-center">
                            <img src="{{ asset('/uploads/'~image.nom) }}" alt="" width="250" class="img-fluid max-width: 100% ">
                            <a href="{{ path('app_figure_image_delete', {'id': image.id}) }}" class="btn btn-danger align-self-end"><i class="bi bi-trash"></i></a>
                        </div>
                    {% endfor %}
                {% endif %}

                {% if figure.videos  is empty %}
                    <div class="alert alert-light">
                        <h5>Il n'y a pas de vidéo associé à la figure</h5>
                    </div>
                {% else %}
                    {% for videos in figure.videos %}
                        <div class="container mt-2 justify-content-center">
                            {{videos.url | raw}}
                            <a href="{{ path('app_figure_video_delete', {'id': videos.id}) }}" class="btn btn-danger align-self-end"><i class="bi bi-trash"></i></a>
                        </div>
                    {% endfor %}
                {% endif %}

            </div>
        </div>

        <div id="figure_media" class="d-none d-md-block container d-flex flex-wrap justify-content-around mt-3">

            {% if figure.images  is empty %}
                <div class="alert alert-light">
                    <h5>Il n'y a pas d'images associé à la figure</h5>
                </div>
            {% else %}
                {% for image in figure.images %}
                <div class="d-inline-flex flex-column align-top ustify-content-around">
                    <img src="{{ asset('/uploads/'~image.nom) }}" alt="" width="250">
                    <a href="{{ path('app_figure_image_delete', {'id': image.id}) }}" class="btn btn-danger align-self-end"><i class="bi bi-trash"></i></a>
                </div>
                {% endfor %}
            {% endif %}

            {% if figure.videos  is empty %}
                <div class="alert alert-light">
                    <h5>Il n'y a pas de vidéo associé à la figure</h5>
                </div>
            {% else %}
                {% for videos in figure.videos %}
                    <div class="d-inline-flex flex-column">
                        {{videos.url | raw}}
                        <a href="{{ path('app_figure_video_delete', {'id': videos.id}) }}" class="btn btn-danger align-self-end"><i class="bi bi-trash"></i></a>
                    </div>
                {% endfor %}
            {% endif %}

        </div>

        <div class="mt-3">
            {{ form_row(formNewFigure.images, {'label': "Ajouter des photos"}) }}
        </div>

        <div class="mt-3">
            {{ form_row(formNewFigure.video, {'label': "Ajouter des vidéos avec le lien 'embedded' de Youtube"}) }}
        </div>

        <div id="figure_content" class="mt-3">

            <p class="text-justify"> {{ form_row(formNewFigure.description, {'attr':{'placeholder': "description de la figure", 'style': 'height: 400px' }}) }} </p>

        </div>

        <div>
            {{ form_row(formNewFigure.groupe, {'label': 'Difficulté'}) }}
        </div>

        <div class="contnainer-fuid d-flex justify-content-end">
            <button type="submit" class="btn btn-success mr-5"> Enregistrer les modifications</button>
            {% include "_partials/_figureDeleteForm.html.twig" %}
        </div>

    </section>

    {{ form_start(formNewFigure) }}

    {{ form_end(formNewFigure) }}

{% endblock %}