{% extends 'base.html.twig' %}

{% form_theme formEditFigure 'bootstrap_5_layout.html.twig' %}

{% block body %}


    <div class="contnainer-fuid d-flex justify-content-end mt-3">
        {% include "_partials/_figureDeleteForm.html.twig" %}
    </div>

{{ form_start(formEditFigure) }}

        <section class="container mt-2">

            <div class="container d-flex flex-column align-items-center">
                {% if figure.images  is empty %}
                    {{ form_row(formEditFigure.nom, {'label':'Nom de la figure', 'attr':{'placeholder': figure.nom}}) }}
                    <img class="" src="{{ asset('/uploads/default.jpg') }}" alt="Main figure img" style="width:100%;">
                {% else %}
                    {{ form_row(formEditFigure.nom, {'label':'Nom de la figure', 'attr':{'placeholder': figure.nom}}) }}
                    <img class="" src="{{ asset('/uploads/'~ figure.images[0].nom) }}" alt="Main figure img" style="width:100%;">
                {% endif %}
            </div>

            <button class="btn btn-success d-block d-md-none mt-2 self-align-center" data-toggle="collapse" data-target="#collapsMedia">Voir les Média</button>

            {# Collapsible content #}
            <div class="collapse d-md-none" id="collapsMedia">
                <div class="d-inline-flex flex-column align-top ustify-content-around">
                    {% if figure.images  is empty %}
                        <div class="alert alert-light">
                            <h5>Il n'y a pas d'images associé à la figure</h5>
                        </div>
                    {% else %}
                        {% for image in figure.images %}
                            <div class="container mt-2 justify-content-center">
                                <img src="{{ asset('/uploads/'~image.nom) }}" alt="" width="250" class="img-fluid max-width: 100% ">
                                <a href="{{ path('app_figure_image_delete', {'id': image.id}) }}" class="btn btn-danger align-self-end"><i class="bi bi-trash"></i></a>
                            </div>
                        {% endfor %}
                    {% endif %}

                    {% if figure.videos  is empty %}
                        <div class="alert alert-light">
                            <h5>Il n'y a pas de vidéo associé à la figure</h5>
                        </div>
                    {% else %}
                        {% for videos in figure.videos %}
                            <div class="container mt-2 justify-content-center">
                                {{videos.url | raw}}
                                <a href="{{ path('app_figure_video_delete', {'id': videos.id}) }}" class="btn btn-danger align-self-end"><i class="bi bi-trash"></i></a>
                            </div>
                        {% endfor %}
                    {% endif %}

                </div>
            </div>

            <div class="d-none d-md-block container d-flex flex-wrap justify-content-around mt-3">

                {% if figure.images  is empty %}
                    <div class="alert alert-light">
                        <h5>Il n'y a pas d'images associé à la figure</h5>
                    </div>
                {% else %}
                    {% for image in figure.images %}
                    <div class="d-inline-flex flex-column align-top ustify-content-around">
                        <img src="{{ asset('/uploads/'~image.nom) }}" alt="" width="250">
                        <a href="{{ path('app_figure_image_delete', {'id': image.id}) }}" class="btn btn-danger align-self-end"><i class="bi bi-trash"></i></a>
                    </div>
                    {% endfor %}
                {% endif %}

                {% if figure.videos  is empty %}
                    <div class="alert alert-light">
                        <h5>Il n'y a pas de vidéo associé à la figure</h5>
                    </div>
                {% else %}
                    {% for videos in figure.videos %}
                        <div class="d-inline-flex flex-column">
                            {{videos.url | raw}}
                            <a href="{{ path('app_figure_video_delete', {'id': videos.id}) }}" class="btn btn-danger align-self-end"><i class="bi bi-trash"></i></a>
                        </div>
                    {% endfor %}
                {% endif %}

            </div>

            <div class="mt-3">
                {{ form_row(formEditFigure.images, {'label': "Ajouter des photos"}) }}
            </div>

            <div class="mt-3">
                {{ form_row(formEditFigure.video, {'label': "Ajouter des vidéos avec le lien 'embedded' de Youtube"}) }}
            </div>

            <div id="figure_content" class="mt-3">
                {{ form_row(formEditFigure.description, {'attr':{'placeholder': "description de la figure", 'style': 'height: 400px' }}) }}
            </div>

            <div>
                {{ form_row(formEditFigure.groupe, {'label': 'Difficulté'}) }}
            </div>

            <div class="container-fuid d-flex justify-content-end">
                
                <button type="submit" class="btn btn-success mr-5"> Enregistrer les modifications</button>
                
                {{ form_end(formEditFigure) }}

                <div class="contnainer-fuid d-flex justify-content-end mt-3">
                    {% include "_partials/_figureDeleteForm.html.twig" %}
                </div>
            </div>

        </section>

{% endblock %}