{% extends "base.html.twig" %}

{% block body %}

    <img class="img-fluid mt-3" src="https://images2.alphacoders.com/484/484868.jpg">
    
    <h1>Welcome to Snowtricks</h1>

    <h3>Le site pour le partage d'informations sur les figures de snowboard!</h3>
    <p>Ici on parle de snow! Consulte les tricks documenté par la communauté, ajoute des informations, photos et vidéos et participe à des discussions figure par figure avec les autres membres. Aide à créer, améliorer et modifier les informations présentes pour faire de ce site une référence dans le monde du snow!</p>

    <section class="figures" id="liste_figures">
        {% for figure in figures.data %}
            <div class="card bg-secondary col-4 d-inline-block align-top" style="max-width: 20rem; height: 18em">
                <div class="card-body">
                    {# <div class="metadata card-text">Ecrit le {{ figure.dateCreation | date('d/m/Y') }} à {{ figure.dateCreation | date('H:i') }} difficulté {{ figure.groupe.titre }}</div> #}
                    <div class="content">
                        {% if figure.images is empty  %}
                            <img class="card-img-top" src="https://via.placeholder.com/350x150"  alt="Card image cap">
                        {% else %}
                            <img class="card-img-top" src="{{ asset('/uploads/'~ figure.images[0].nom) }}"  alt="Card image cap">
                        {% endif %}
                        <a href="{{ path('app_figure_show', {'id':figure.id}) }}" class="btn btn-primary mt-3">{{ figure.nom | length > 20 ? figure | slice(0, 20) ~ '...' : figure.nom }}</a>
                    </div>
                </div>
            </div>
        {% endfor %}

        {% set path = 'app_home' %}
        {% set nbFiguresMax = figures.nbFiguresMax %}
        {% set limit = figures.limit %}
        {% include "_partials/_loadMore.html.twig" %}

    </section>
    
{% endblock body %}
