{% extends "base.html.twig" %}

{% block body %}
    
    <h1>Bienvenue dans ce blog !</h1>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas recusandae molestiae sit, iste consequuntur fugit cum nemo dolor, modi at error quam officia distinctio neque adipisci libero harum accusantium amet quasi vitae? Veniam tempora impedit, harum necessitatibus iusto quidem reiciendis!</p>
    <p>Odit voluptate beatae tempora quibusdam aliquid, vero ullam eius praesentium enim officia, quam rem culpa, dolorem explicabo consectetur neque ipsum magni labore inventore! Officia recusandae alias quis dolor amet non, debitis temporibus, mollitia rerum dignissimos libero accusantium suscipit ea hic.</p>

    <section class="figures">

        {% for figure in figures %}
            <article>
                <h2>{{ figure.nom }}</h2>
                <div class="metadata">Ecrit le {{ figure.dateCreation | date('d/m/Y') }} à {{ figure.dateCreation | date('H:i') }} dans la catégorie Débutant</div>
                <div class="content">
                    <img src="https://via.placeholder.com/350x150" alt="">
                    {{ figure.description | raw }}
                    <a href="{{ path('app_show', {'id':figure.id}) }}" class="btn btn-primary">voir la figure</a>
                </div>
            </article>
        {% endfor %}

    </section>
    
{% endblock body %}