{% extends "base.html.twig" %}

{% block body %}

    <article>
        <h2>{{ figure.nom }}</h2>
        <div class="metadata">
            Ecrit le {{ figure.dateCreation | date('d/m/Y') }} à {{ figure.dateCreation | date('H:i') }} difficulté {{ figure.groupe.titre }}
        </div>
        <div class="metadata">
            Modifié le {{ figure.dateModification | date('d/m/Y') }} à {{ figure.dateModification | date('H:i') }}
        </div>

            <div class="content">

                {% if figure.images  is empty %}

                    <div class="alert alert-light">
                        <h5>Il n'y a pas d'images associé à la figure</h5>
                    </div>
        
                {% else %}
                    <div class="d-flex justify-content-around">
                        {% for image in figure.images %}
                            <img src="{{ asset('/uploads/'~image.nom) }}" alt="" width="250">
                        {% endfor %}
                    </div>
                {% endif %}
        
            </div>

            <div class="container m-2">

                {{ figure.description | raw }}

            </div>

            <div class="container">

                {% if figure.videos  is empty %}
                <div class="alert alert-light">
                    <h5>Il n'y a pas de vidéo associé à la figure</h5>
                </div>
            
                {% else %}
                    <div class="d-flex justify-content-around">
                        {% for videos in figure.videos %}
                                {{videos.url | raw}}
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        
            <div class="container">
                {% if app.user %}
                <a class="btn btn-primary" href="{{ path('app_figure_edit', {'id':figure.id}) }}">Modifier la figure</a>
                <a class="btn btn-danger" href="{{ path('app_figure_delete', {'id': figure.id}) }}" onclick="return confirm('Ête vous sur de vouloir supprimer la figure et tous ses composants?')">Supprimer la figure</a>
                {% endif %}
            </div>
        </div>

    </article>

    <section id="liste_commentaires" class="container">
        <h1>Commentaires :</h1>
        {% if figure.commentaires |default%}
            <h3>Il y a {{ figure.commentaires | length }} commentaires</h3>
            {% for commentaire in commentaires.data %}
                <div class="commentaire">
                    <div class="row">
                        <div class="col-3">
                            <p>Auteur: {{commentaire.auteur.nomUtilisateur}}</p> (<small>{{commentaire.dateCreation | date('d/m/Y à H:i')}}</small>)
                        </div>
                        <div class="col">
                            {{commentaire.contenu | raw}}
                        </div>
                    </div>
                </div>
            {% endfor %}
            
            {% set path = 'app_figure_show' %}
            {% set nbCommentairesMax = commentaires.nbCommentairesMax %}
            {% set limit = commentaires.limit %}
            {% include "_partials/_loadMoreCommentaires.html.twig" %}

        {% else %}
            <h3>Il n'y a aucun commentaires</h3>
        {% endif %}

        {% if app.user %}
            {{ form_start(formCommentaire) }}
            {{ form_row(formCommentaire.contenu, {
                'attr':{
                    'placeholder': "Votre commentaire"
                }
            }) }}
            <button type="submit" class="btn btn-success">Publier mon commentaire</button>
            {{ form_end(formCommentaire) }}
        {% else %}
            <h3>Connectez vous pour ajouter un commentaire</h3>
            <a href="{{ path('app_security_connexion') }}" class="btn btn-primary">
                Se connecter
            </a>
        {% endif %}
    </section>

{% endblock %}