<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        <link rel="stylesheet" href="https://bootswatch.com/5/lumen/bootstrap.min.css"
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>

        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <div class="container-fluid">
                    <a class="navbar-brand" href="{{ path('app_home') }}">Snowtricks</a>
                    <h4 class="nav-item">Bonjour {{ app.user.nomUtilisateur }}</h4>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarColor01">
                        <ul class="navbar-nav ms-auto">
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('app_home') }}">Accueil
                                <span class="visually-hidden">(current)</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('app_figure_create') }}">Crée une figure</a>
                            </li>

                            {% if app.user %}
                                <li class="nav-item">
                                    <a class="nav-link" href="{{ path("app_security_deconnexion") }}">Déconnexion</a>
                                </li>
                            {% else %}
                                <li class="nav-item">
                                    <a class="nav-link" href="{{ path("app_security_connexion") }}">Se connecter</a>
                                </li>
                            {% endif %}
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Dropdown</a>
                                <div class="dropdown-menu">
                                <a class="dropdown-item" href="#">Action</a>
                                <a class="dropdown-item" href="#">Another action</a>
                                <a class="dropdown-item" href="#">Something else here</a>
                                <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="#">Separated link</a>
                                </div>
                            </li>
                        </ul>
                    </div>
            </div>
        </nav>

        {% if app.user and app.user.isVerified == false %}
            <div class="alert alert-warning alert-dismissible" role="alert">
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                <div class="alert-message">
                    <strong>Votre compte n'est pas activé</strong>, <a class="alert-link" href="{{ path('app_resend_verif') }}">renvoyer le lien d'activation</a>
                </div>
            </div>
        {% endif %}

        <div class="container">
            {% include "_partials/_flash.html.twig" %}
            {% block body %}{% endblock %}
        </div>

        <footer class="bg-dark container-fluid mt-5">
            <div>
                <p class="text-light">Projet 06 parcours Openclassrooms: Développeur d'application PHP/SYMFONY</p>
                <p class="text-light">Réalisé par Christopher Rey</p>
            </div>
        </footer>
    </body>
</html>
